name: Build Project

on:
  push:
    branches:
      - master

permissions:
  contents: write

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Generate release tag
        id: generate_release_tag
        uses: alexvingg/next-release-tag@v1.0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ''

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.generate_release_tag.outputs.release_tag }}
          name: Release ${{ steps.generate_release_tag.outputs.release_tag }} (Work in progress)
          makeLatest: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
