# This GitHub Action builds your React app on every push and publishes it to a 
# branch and directory of your choice. This Action ensures that all files and 
# directories surrounding the specified directory are preserved without deletion.
# It facilitates the seamless publication of your build files to the designated directory.

name: Build Project

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Build
      uses: mmedoo/build-react-on-push@v1.3
      with:

        # build files directory inside branch.
        # if it doesn't exist, it will be created.
        # default: root
        TARGET_DIRECTORY: '.'

        # branch name, if doesn't exist, it will be created
        # if it doesn't exist, it will be created.
        # default: build
        BRANCH_NAME: 'build'

        # directory of your React app
        # default: .
        APP_DIRECTORY: '.'

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
